/* Base16 Melon
Scheme: Tommy Heffernan (http://github.com/tdheff) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #25242e; color: #c0b1a1 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #444045; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #25242e; }
pre.sourceCode { background-color: #25242e; line-height: 125% }
td.nums pre { background-color: #444045; line-height: 125% }
code.sourceCode span.kw { color: #abb242; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #c2214f} /* Keyword.Type */
code.sourceCode span.dv { color: #fab86c } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #fab86c } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #fab86c } /* Literal.Number.Float */
code.sourceCode span.ch { color: #317891} /* Literal.String.Char */
code.sourceCode span.st { color: #317891 } /* Literal.String */
code.sourceCode span.co { color: #827873 } /* Comment */
code.sourceCode span.ot { color: #ffb9a3 } /* Comment.Preproc */
code.sourceCode span.al { color: #c2214f } /* Generic.Error */
code.sourceCode span.fu { color: #69b0c7 } /* Name.Function */
code.sourceCode span.re { color: #3ec780}
code.sourceCode span.er { color: #c7503e; border: 1px solid #c2214f } /* Error */
