/**
 * Base16 Melon Light
 *
 * @author Tommy Heffernan (http://github.com/tdheff)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #ffeacf;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #25242e;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #a1958a;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #c7503e; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #fab86c; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #69b0c7; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #317891; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #abb242; /* blue */
}

pre .keyword, pre .storage {
    color: #c2214f; /* purple */
}
