[colors]
# Base16 Melon
# Scheme: Tommy Heffernan

foreground      = #c0b1a1
foreground_bold = #c0b1a1
cursor          = #c0b1a1
background      = #25242e

# 16 color space
color0  = #25242e
color1  = #c7503e
color2  = #317891
color3  = #69b0c7
color4  = #ABB242
color5  = #C2214F
color6  = #3ec780
color7  = #c0b1a1
color8  = #827873
color9  = #c7503e
color10 = #317891
color11 = #69b0c7
color12 = #ABB242
color13 = #C2214F
color14 = #3ec780
color15 = #ffeacf

# 256 color space
color16 = #fab86c
color17 = #FFB9A3
color18 = #444045
color19 = #635c5c
color20 = #a1958a
color21 = #dfcdb8
