[global_config]
  title_transmit_bg_color = "#c7503e"
  title_inactive_bg_color = "#827873"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#25242e:#c7503e:#317891:#69b0c7:#abb242:#c2214f:#3ec780:#c0b1a1:#827873:#c7503e:#317891:#69b0c7:#abb242:#c2214f:#3ec780:#ffeacf"
    foreground_color = "#c0b1a1"
    background_color = "#25242e"
    cursor_color = "#c0b1a1"

  [[Base16 Melon Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#25242e:#c7503e:#317891:#69b0c7:#abb242:#c2214f:#3ec780:#c0b1a1:#827873:#c7503e:#317891:#69b0c7:#abb242:#c2214f:#3ec780:#ffeacf"
    foreground_color = "#c0b1a1"
    background_color = "#25242e"
    cursor_color = "#c0b1a1"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Melon Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
