[global_config]
  title_transmit_bg_color = "#c7503e"
  title_inactive_bg_color = "#827873"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#25242e:#c7503e:#317891:#69b0c7:#ABB242:#C2214F:#3ec780:#c0b1a1:#827873:#c7503e:#317891:#69b0c7:#ABB242:#C2214F:#3ec780:#ffeacf"
    foreground_color = "#635c5c"
    background_color = "#ffeacf"
    cursor_color = "#635c5c"

  [[Base16 Melon Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffeacf:#c7503e:#317891:#69b0c7:#ABB242:#C2214F:#3ec780:#c0b1a1:#827873:#c7503e:#317891:#69b0c7:#ABB242:#C2214F:#3ec780:#25242e"
    foreground_color = "#635c5c"
    background_color = "#ffeacf"
    cursor_color = "#635c5c"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Melon Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
